@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-image: linear-gradient(#80bffa 0%, #5a89cf 100%);
    color: white;
    font-family: 'Open Sans', serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.content {
    text-align: center;
    padding-top: 5vh;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    margin-bottom: 5vh;
}

.container {
    display: block;
    width: 719px;
    height: 455px;
    margin: auto;
    border: 1px solid rgb(214, 214, 214);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

#wolf {
    background-image: url('../img/wolf.png');
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    height: 73px;
    width: 115px;
    top:270px;
    left: 140px;
}

#goat {
    background-image: url('../img/goat.png');
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    height: 83px;
    width: 85px;
    top:260px;
    left: 90px;
}

#cabbage {
    background-image: url('../img/cabbage.png');
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    height: 48px;
    width: 51px;
    top:250px;
    left: 70px;

}

.description {
    display: block;
    max-width: 600px;
    margin: auto;
}

.trip-container {
    display: block;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trip {
    display: flex;
    max-width: 450px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.trip-name {
    display: flex;
    width: 50px;
}

.trip .button {
    margin-left: 10px;
}

.trip-line {
    display: inline;
    margin-left: 10px;
}

.space-selection {
    margin: 2px;
}

.button {
    background-color: rgb(55, 142, 241);
    border: 1px solid rgb(24, 116, 223);
    color: aliceblue;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 80px;
}

.hide {
    display:none;
}

.green {
    background-color: rgb(4, 145, 28);
    border: 1px solid rgb(4, 145, 36);
}

.orange{
    background-color: rgb(212, 104, 15);
    border: 1px solid  rgb(212, 104, 45);
}

#result-msg {
    display: block;
    width: 50%;
    height: 50px;
    margin-left: 25%;
    text-align: center;
    padding-top: 15px;
}

.right_answer {
    background-color: rgb(88, 139, 12);
    color: aliceblue;
}

.wrong_answer {
    background-color: rgb(228, 145, 20);
    color: aliceblue;
}